* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}



#box{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: royalblue;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
   
}

button {
    padding: 10px 30px;
    background-color: lightseagreen;
    border: none;
}
@keyframes rotate {
    from{
        rotate: 0;
    }
    to{
        rotate: 360deg;
    }
}