* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

h1{
    background-color: cadetblue;
    padding: 30px 50px;
    font-family: monospace;
    font-size: 50px;
    color: white;
}

button{
    padding: 10px 25px;
    background-color: lightseagreen;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:active{
    scale: 0.97;
}

