* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

#box{
    height: 400px;
    width: 900px;
    background-color: aquamarine;
}

button{
    padding: 10px 25px;
    background-color: lightseagreen;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:active{
    scale: 0.97;
}

